@model IEnumerable<MAAK.Models.ExhibitionRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExhibitionRecord_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition.Exhibition_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Member_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExhibitionRecord_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition.Exhibition_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Member_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExhibitionRecord_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExhibitionRecord_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExhibitionRecord_ID })
        </td>
    </tr>
}

</table>
