@model MAAK.Models.MediaReports

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaReports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MediaReports_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaReports_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaReports_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaReports_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaReports_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaReports_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaReports_Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaReports_Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaReports_Modificationdatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaReports_Modificationdatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Member_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Member_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaReports_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
