@model IEnumerable<MAAK.Models.MediaReports>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaReports_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaReports_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaReports_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaReports_Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaReports_Modificationdatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Member_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MediaReports_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaReports_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaReports_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaReports_Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaReports_Modificationdatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Member_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaReports_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaReports_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaReports_ID })
        </td>
    </tr>
}

</table>
