@model IEnumerable<MAAK.Models.Exhibition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Startdatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Enddatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition_Otherpeople)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Startdatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Enddatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition_Otherpeople)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Exhibition_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Exhibition_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Exhibition_ID })
        </td>
    </tr>
}

</table>
